* {
    padding: 0;
    margin: 0;
}
.top {

}
.header {
    padding: 39px 0;
    margin: 0 0 160px 0;
    box-sizing: border-box;
}
.menu-list {

}
.menu-item {

}
.menu-link {

}
.top-info {
    margin: 0 0 197px 0;
}
.top-content {

}
.top-content-uptitle {
    margin: 0 0 10px 0;
}
.top-content-title {
    margin: 0 0 40px 0;
}
.top-content-txt {
    margin: 0 0 50px 0;
}
.top-content-btn-wrp {

}
.top-content-btn {

}
.top-info-img {

}
.top-logos {

}
.top-logos-list {

}
.top-logos-list-item {

}
